@import "tailwindcss";

@theme {
  --breakpoint-xxs: 0px;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1920px;
  --breakpoint-largest: 12560px;
  --breakpoint-4k: 2560px;
}

:root {
  --font-sporting: "Sporting Grotesque", sans-serif;
  --font-gradual: "Bw Gradual DEMO", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sporting: var(--font-sporting);
  --font-gradual: var(--font-gradual);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-sporting);
  overflow-x: hidden;
}
.rotate {
  transform: rotate(6.737deg);
}
.nav-bg {
  background: #00000003;
  border-radius: 0px 0px 30px 30px;
}
