@import "tailwindcss";

@theme {
  --breakpoint-xxs: 0px;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1920px;
  --breakpoint-largest: 12560px;
  --breakpoint-4k: 2560px;
}

@font-face {
  font-family: "Sporting Grotesque";
  src: url("/public/font/SportingGrotesque-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sporting Grotesque";
  src: url("/public/font/SportingGrotesque-Regular.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Sporting Grotesque", sans-serif;
  overflow-x: hidden;
}
.rotate {
  transform: rotate(6.737deg);
}
.nav-bg {
  background: #00000003;
  border-radius: 0px 0px 30px 30px;
}
.rotate-two {
  transform: rotate(3.854deg);
  background: #c5ff41;
}
.rotate-two button {
  background: #000;
  color: #fff;
}
.rotate-two p {
  color: #000;
}
.rotate-two .link {
  color: #000;
}
textarea {
  resize: none;
}

.btn {
  position: relative;
  display: inline-flex;
  background: transparent;
  overflow: hidden;
  font-size: 16px;
  cursor: pointer;
  z-index: 999;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  width: 0;
  height: 0;
  transform: translate(-50%, 50%);
  border-radius: 80%;
  background: #c5ff41;
  transition: width 0.9s ease, height 0.9s ease, bottom 0.5s ease;
  z-index: -1;
}

.btn:hover::before {
  width: 300px;
  height: 300px;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
